{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "Ec2CopySnapshotTestResourceStack",
  "Outputs": {
    "EncryptionKeyArn": {
      "Description": "Arn of custom key used for encrypting EBS snapshots",
      "Value": {
        "Fn::GetAtt": [
          "EncryptionKey0",
          "Arn"
        ]
      }
    }
  },
  "Parameters": {
    "TaskRole": {
      "Description": "Role executing the action that needs permission to KMS key",
      "Type": "String"
    }
  },
  "Resources": {
    "EncryptionKey0": {
      "Type": "AWS::KMS::Key",
      "Properties": {
        "Enabled": "True",
        "EnableKeyRotation": "False",
        "Description": "Ec2CopySnapshotTestResourceStack EBS custom encryption key ",
        "KeyPolicy": {
          "Version": "2012-10-17",
          "Id": "key-default-1",
          "Statement": [
            {
              "Sid": "Allow administration of the key",
              "Effect": "Allow",
              "Principal": {
                "AWS": {
                  "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:root"
                }
              },
              "Action": [
                "kms:Create*",
                "kms:Decrypt",
                "kms:Describe*",
                "kms:Enable*",
                "kms:Encrypt",
                "kms:GenerateDataKey*",
                "kms:ReEncrypt*",
                "kms:List*",
                "kms:Put*",
                "kms:Update*",
                "kms:Revoke*",
                "kms:Disable*",
                "kms:Get*",
                "kms:Delete*",
                "kms:ScheduleKeyDeletion",
                "kms:CancelKeyDeletion"
              ],
              "Resource": "*"
            },
            {
              "Sid": "Allow use of the key",
              "Effect": "Allow",
              "Principal": {
                "AWS": {
                  "Fn::Sub": "arn:aws:iam::${AWS::AccountId}:role/${TaskRole}"
                }
              },
              "Action": [
                "kms:CreateGrant",
                "kms:Decrypt",
                "kms:Get*",
                "kms:Describe*",
                "kms:List*",
                "kms:ReEncrypt*",
                "kms:GenerateDataKey*",
                "kms:DescribeKey"
              ],
              "Resource": "*"
            }
          ]
        }
      }
    }
  }
}




